<div align="center">
    <img src="images/zb-logo.png" alt="제로베이스" width="100%">
    <br>
    <a href="https://zerobaseschool.notion.site/DS-EDA-Lv-Test-b7d5e895c7cd4dda813c8fe2f2c23f79"><img src="images/openinnotion_logo.png" alt="EDA Lv Test Doc" width="12%"></a>

이 Jupyter Notebook 파일은 <a href="https://zero-base.co.kr/category_data_camp/school_DS">제로베이스</a>에서 제공하는 **EDA Level Test** 문제입니다.<br>
지금까지 공부하신 내용으로 데이터 분석에 대해 좀 더 연습할 수 있는 시간이 되셨으면 좋겠습니다.🙂<br>
**EDA Level Test**에 대한 안내 사항은 상단 **Open in ZeroBase Notion** 로고를 클릭하여 확인해주세요!<br>
반드시 시작 전에 내용을 숙지해주시기를 바랍니다!<br>
</div>

***

<h1 style="background-color:#9F81F7;color:#D8D8D8;font-weight:bold;display:inline-block;padding: 5px">EDA Level Test 04 ⭐️⭐️</h1>

| Week | Data Analysis | Difficulty | This Notebook |
|------|---------------|------------|-------|
| 1    | 서울시 인구 데이터 | ⭐️ ||
| 2    | 화장품 성분 데이터 | ⭐️⭐️⭐️ ||
| 3    | 올림픽 데이터 | ⭐️⭐️ ||
| 4    | 국가별 인터넷 사용률 데이터 |⭐️⭐️ |👈|
| 5    | 전국 박물관/미술관 정보 표준 데이터 | ⭐️⭐️⭐️ ||
| 6    | 서울시 흡연율 통계 데이터 | ⭐️⭐️ ||
| 7    | 웹크롤링 | ⭐️ ||
| 8    | 서울시 지하철 호선별 역별 유/무임 승하차 인원 정보 데이터 | ⭐️⭐️ ||
| 9    | 서울시 교통사고 현황 (사고유형별) 통계 데이터 | ⭐️⭐️ ||
| 10   | 서울시 교통사고 현황 (사고유형별) 통계 + 서울시 차량통행속도 (구별/월별) 통계 + 서울시 인구밀도 (구별) 통계 | ⭐️⭐️⭐️ ||

## 문제 소개 및 데이터 준비 단계

### Data 원본 출처

### Target Data(CSV): Global Internet Usage(국가별 인터넷 사용률)
- Source: [Kaggle](https://www.kaggle.com/datasets/sansuthi/gapminder-internet)
- DownLoad: [archive.zip](https://www.kaggle.com/datasets/sansuthi/gapminder-internet/download)

### Reference Data01(HTML Link): 국가별 인구(Population) Data
- Source: [Wiki](https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population)

### Reference Data02(CSV): 국가별 ISO코드 / 지역 분류(Region) Data
- Source: [Kaggle](https://www.kaggle.com/datasets/andradaolteanu/country-mapping-iso-continent-region)
- DownLoad: [archive.zip](https://www.kaggle.com/datasets/andradaolteanu/country-mapping-iso-continent-region/download)


### 참고사항
- 위 3개의 Data들은 생성 시기가 다르므로 이 Test에서 도출되는 결과는 실제와 일치하지 않습니다.
<br></br>
- 문제에 hint가 있을 경우, 해당 hint를 이용하지 않으셔도 무방합니다.
<br></br>
- 해당 Test는 Wiki의 Online Data를 가져오는 내용을 포함하고 있습니다.
    - 해당 내용이 변경될 경우 추후 공유될 정답과 다를 수 있습니다.
    - 문제 제작시의 Data는 추후 공유될 정답과 함께 제공합니다. 해당 Data는 아래의 경로에 있습니다.  
        - 국가별 인구 Data  
            <code> [DS]EDA Level Test_week 4/solution/datas/wiki_population.csv </code>  
<br></br>
- 해당 Test는 pycountry 라는 Library를 사용할 예정입니다.
    - https://pypi.org/project/pycountry/#description
    - https://github.com/flyingcircusio/pycountry
<br></br>
    - 해당 Library가 없는 경우 아래 명령어를 사용하여 설치하시기 바랍니다.  
    <code> pip install pycountry </code> 또는 <code> conda install -c conda-forge pycountry </code>

In [ ]:
# 설치 필수
!pip install pycountry
!pip install lxml

Requirement already satisfied: pycountry in /Users/pymaru/mambaforge/envs/ds_study/lib/python3.8/site-packages (22.3.5)
Requirement already satisfied: setuptools in /Users/pymaru/mambaforge/envs/ds_study/lib/python3.8/site-packages (from pycountry) (66.0.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1.1
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: lxml in /Users/pymaru/mambaforge/envs/ds_study/lib/python3.8/site-packages (4.9.2)

[notice] A new release of pip is available: 23.0.1 -> 23.1.1
[notice] To update, run: pip install --upgrade pip

In [1]:
import pandas as pd
# 채점을 위한 코드입니다. 반드시 실행해주세요.
from grading import *

df_target = pd.read_csv('./datas/gapminder_internet.csv')
df_target

                country  incomeperperson  internetuserate  urbanrate
0           Afghanistan              NaN         3.654122      24.04
1               Albania      1914.996551        44.989947      46.72
2               Algeria      2231.993335        12.500073      65.22
3               Andorra     21943.339900        81.000000      88.92
4                Angola      1381.004268         9.999954      56.70
..                  ...              ...              ...        ...
208             Vietnam       722.807559        27.851822      27.84
209  West Bank and Gaza              NaN        36.422772      71.90
210         Yemen, Rep.       610.357367        12.349750      30.64
211              Zambia       432.226337        10.124986      35.42
212            Zimbabwe       320.771890        11.500415      37.34

[213 rows x 4 columns]

## 문제 시작! 🏃🏻

## 1단계: Target Data 불러오기 & 전처리
***

### 문제 1-1) Target Data 전처리 01 (5점)
- 위에서 읽은 DataFrame에서 Null값을 처리하고자 합니다. 아래 조건에 맞게 Null값을 처리하세요.
<br></br>
    - 조건1: 'incomeperperson', 'internetuserate', 'urbanrate' Column(열)에 하나라도 Null값이 있다면 그 row(행)를 삭제(drop)하세요.
    - 조건2: Index와 순서(order)는 변경하지 마세요.
<br></br>
- 완료 후 결과 dataframe 변수를 check_01_01 함수에 입력하여 채점하세요.

In [2]:
df_target.isnull().sum()

country             0
incomeperperson    23
internetuserate    21
urbanrate          10
dtype: int64

In [3]:
df_target = df_target.dropna()
df_target.isnull().sum()

country            0
incomeperperson    0
internetuserate    0
urbanrate          0
dtype: int64

In [4]:
# 1-1

check_01_01(df_target)

정답입니다! 5점 누적 되었습니다!
현재 누적 점수: 5 / 100

In [5]:
df_target

                 country  incomeperperson  internetuserate  urbanrate
1                Albania      1914.996551        44.989947      46.72
2                Algeria      2231.993335        12.500073      65.22
3                Andorra     21943.339900        81.000000      88.92
4                 Angola      1381.004268         9.999954      56.70
5    Antigua and Barbuda     11894.464070        80.645455      30.46
..                   ...              ...              ...        ...
207            Venezuela      5528.363114        35.850437      93.32
208              Vietnam       722.807559        27.851822      27.84
210          Yemen, Rep.       610.357367        12.349750      30.64
211               Zambia       432.226337        10.124986      35.42
212             Zimbabwe       320.771890        11.500415      37.34

[182 rows x 4 columns]

### 문제 1-2) Target Data 전처리 02 (5점)
- 1-1의 DataFrame(df_target)과 아래의 df_target_change_list를 이용하여 아래 조건에 맞게 국가명(컬럼명: 'country')을 변경하세요.
<br></br>
    - 참고: 국가명을 변경하는 이유는 추후(문제 2-4) pycountry Library를 사용하여 국가코드(ex: 대한민국-KR)를 얻기 위함입니다.
<br></br>
    - 아래 df_target_change_list는 변경 대상인 df_target의 index와 그에 맞는 국가명이 쌍(tuple)들을 값으로 가지고 있습니다.
<br></br>
        - 조건1: df_target_change_list를 이용하여 df_target의 국가명을 변경하세요.
        - 조건2: Index 또는 순서(order)는 변경하지 마세요.
<br></br>
- 완료 후 결과 dataframe 변수를 check_01_02 함수에 입력하여 채점하세요.

In [27]:
df_target_change_list = [
    (33, 'Cabo Verde'),
    (35, 'Central African Republic'),
    (41, 'Congo, The Democratic Republic of the'),
    (42, 'Congo'),
    (45, "Côte d'Ivoire"),
    (49, 'Czech Republic'),
    (53, 'Dominican Republic'),
    (83, 'Hong Kong'),
    (100, 'Korea, Republic of'),
    (103, "Lao People's Democratic Republic"),
    (112, 'Macao'),
    (113, 'Republic of North Macedonia'),
    (125, 'Federated States of Micronesia'),
    (183, 'Eswatini'),
    (210, 'Yemen')
]

In [28]:
for i, v in df_target_change_list:
    df_target.at[i, 'country'] = v

In [29]:
# 1-2

check_01_02(df_target)

정답입니다! 5점 누적 되었습니다!
현재 누적 점수: 10 / 100

In [30]:
df_target

                 country  incomeperperson  internetuserate  urbanrate
1                Albania      1914.996551        44.989947      46.72
2                Algeria      2231.993335        12.500073      65.22
3                Andorra     21943.339900        81.000000      88.92
4                 Angola      1381.004268         9.999954      56.70
5    Antigua and Barbuda     11894.464070        80.645455      30.46
..                   ...              ...              ...        ...
207            Venezuela      5528.363114        35.850437      93.32
208              Vietnam       722.807559        27.851822      27.84
210                Yemen       610.357367        12.349750      30.64
211               Zambia       432.226337        10.124986      35.42
212             Zimbabwe       320.771890        11.500415      37.34

[182 rows x 4 columns]

### 문제 1-3) Target Data 전처리 03 (10점)
- 1-2의 DataFrame(df_target)과 pycountry Library를 이용하여 아래 조건에 맞게 국가코드를 구하세요.
<br></br>
    - 참고: **pycountry.countries**
<br></br>
        - ISO 3166-2(전 세계 나라 및 부속 영토의 주요 구성 단위의 명칭에 고유 부호(코드)를 부여하는 국제 표준) 기준 국가별 코드를 얻을 수 있는 Python Library
<br></br>
        - 국가명 표기 방식에 따라 잘못된 값 또는 값 검색이 안되는 경우가 많아 주의가 필요함
<br></br>
            - 예시: 대한민국의 경우 'south korea', 'republic of korea', 'korea', 'korea, republic of' 등으로 표기되는데, 이 중 'korea, republic of' 로만 정확한 국가 코드를 얻을 수 있음
            - 혼선을 줄이기 위하여 문제 1-2와 같이 변경할 국가명을 제공함
<br></br>
        - 사용법(상세 사용법은 2.Datas의 참고사항 내 링크 참조)
<br></br>
            - 국가 검색 방법
<br></br>
                - 일반 검색: pycountry.countries.get(name=country_name) -> 하나의 결과값을 return
                - fuzzy 검색: pycountry.countries.search_fuzzy(country_name) -> 하나 이상의 결과값을 list형태로 return
<br></br>
            - 예시
<br></br>
            <img src="images/04-1-3-001.png" style="margin:auto" width=500/>
<br></br>
            <img src="images/04-1-3-002.png" style="margin:auto" width=600/>
<br></br>
    - 조건1: df_target에 'code'컬럼을 추가하여 각 row(행)의 국가명에 맞는 2글자 국가코드(alpha_2)를 입력하세요.
<br></br>
    - 조건2: 일반검색(pycountry.countries.get(name=country_name))을 우선 이용 해보고, 결과값이 안 나올 경우 fuzzy 검색(pycountry.countries.search_fuzzy(country_name))을 활용하여 검색하세요.
<br></br>
    - 조건3: fuzzy 검색을 이용할 경우, 결과값 list의 첫번째 값(index=0)의 국가코드를 입력하세요.
<br></br>
    - 조건4: Index 또는 순서(order)는 변경하지 마세요.
<br></br>
<br></br>
    - hint: Python 예외처리(try-except)를 활용해 보세요.
<br></br>
<br></br>
- 완료 후 결과 dataframe 변수를 check_01_03 함수에 입력하여 채점하세요.

In [52]:
import pycountry

country_li = df_target['country']
code_l = []


for name in country_li:
    try:
        country_code = pycountry.countries.search_fuzzy(name)[0].alpha_2        
        code_l.append(country_code)
    except:
        try:
            code_l.append(country_code.country_code)
        except:
            code_l.append(country_code)            

if len(country_li) == len(code_l):
    df_target['code'] = code_l

SubdivisionHierarchy(code='BZ-BZ', country_code='BZ', name='Belize', parent_code=None, type='District')
SubdivisionHierarchy(code='DJ-DJ', country_code='DJ', name='Djibouti', parent_code=None, type='City')
SubdivisionHierarchy(code='US-GA', country_code='US', name='Georgia', parent_code=None, type='State')
SubdivisionHierarchy(code='GT-GU', country_code='GT', name='Guatemala', parent_code=None, type='Department')
SubdivisionHierarchy(code='BE-WLX', country_code='BE', name='Luxembourg', parent='WAL', parent_code='BE-WAL', type='Province')
SubdivisionHierarchy(code='LU-LU', country_code='LU', name='Luxembourg', parent_code=None, type='Canton')
SubdivisionHierarchy(code='GN-ML', country_code='GN', name='Mali', parent='L', parent_code='GN-L', type='Prefecture')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='NG-NI', country_code='NG', name='Niger', parent_code=None, type='State')
SubdivisionHierarchy(code='PA-8', country_code='PA', name='Panamá', parent_code=None, type='Province')
SubdivisionHierarchy(code='US-PR', country_code='US', name='Puerto Rico', parent_code=None, type='Outlying area')

/var/folders/h1/hp_50qr12jg40vj15b94d35w0000gn/T/ipykernel_8368/2144982314.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_target['code'] = code_l

In [54]:
# 1-3

check_01_03(df_target)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 20 / 100

In [55]:
df_target

                 country  incomeperperson  internetuserate  urbanrate code
1                Albania      1914.996551        44.989947      46.72   AL
2                Algeria      2231.993335        12.500073      65.22   DZ
3                Andorra     21943.339900        81.000000      88.92   AD
4                 Angola      1381.004268         9.999954      56.70   AO
5    Antigua and Barbuda     11894.464070        80.645455      30.46   AG
..                   ...              ...              ...        ...  ...
207            Venezuela      5528.363114        35.850437      93.32   VE
208              Vietnam       722.807559        27.851822      27.84   VN
210                Yemen       610.357367        12.349750      30.64   YE
211               Zambia       432.226337        10.124986      35.42   ZM
212             Zimbabwe       320.771890        11.500415      37.34   ZW

[182 rows x 5 columns]

## 2단계: Reference Data01: 불러오기 & 전처리 & 합치기
***

### 문제 2-1) Web Data 가져오기 (10점)
- 아래 제시된 Link에 있는 국가별 인구에 대한 Table을 아래 조건에 맞게 예시와 같이 Pandas DataFrame으로 불러오세요.
<br></br>
    - Link: https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population
<br></br>
    <img src="images/04-2-1-001.png" style="margin:auto" width=400/>
<br></br>
    - 예시
<br></br>
    <img src="images/04-2-1-002.png" style="margin:auto" width=600/>
<br></br>
    - 조건: 해당 DataFrame의 변수명을 'df_population'으로 지정해주세요.
<br></br>
<br></br>
    - hint: pandas의 기능 중에 웹페이지의 Table들을 읽어와 DataFrame으로 만들어주는 method가 있습니다.
<br></br>
<br></br>
- 완료 후 결과 dataframe 변수를 check_02_01 함수에 입력하여 채점하세요.

In [56]:
from selenium import webdriver
from bs4 import BeautifulSoup

url = "https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population"
driver = webdriver.Chrome()
driver.get(url)

table = pd.read_html(url)
df_population = table[0]

columns = ['Rank', 'Country / Dependency', 'UN Region', 'Population', 'Date', 'Source (official or from the United Nations)', 'Notes']
df_population.columns = columns

In [60]:

check_02_01(df_population)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 30 / 100

In [ ]:
df_population

,Rank,Country / Dependency,Population,% of the world,Date,Source (official or from the United Nations),Notes
0,–,World,8028626000,100%,27 Apr 2023,UN projection[3],NaN
1,1,China,1411750000,NaN,31 Dec 2022,Official estimate[4],[b]
2,2,India,1392329000,NaN,1 Mar 2023,Official projection[5],[c]
3,3,United States,334679000,NaN,27 Apr 2023,National population clock[7],[d]
4,4,Indonesia,277749853,NaN,31 Dec 2022,Official estimate[8],NaN
...,...,...,...,...,...,...,...
237,–,Tokelau (New Zealand),1647,NaN,1 Jan 2019,2019 Census [206],NaN
238,–,Niue,1549,NaN,1 Jul 2021,National annual projection[95],NaN
239,195,Vatican City,825,NaN,1 Feb 2019,Monthly national estimate[207],[ag]
240,–,Cocos (Keeling) Islands (Australia),593,NaN,30 Jun 2020,2021 Census[208],NaN
241,–,Pitcairn Islands (United Kingdom),47,NaN,1 Jul 2021,Official estimate[209],NaN

### 문제 2-2) Population Data 전처리 01 (5점)
- 2-1의 DataFrame(df_population)을 아래의 조건에 맞게 변경하세요.
<br></br>
    - 조건1: Column(열) 중 'Country / Dependency', 'Population' 2개만 남기세요.
    - 조건2: 컬럼명을 아래와 같이 변경하세요.
        - 'Country / Dependency' -> 'country'
        - 'Population' -> 'population'
    - 조건3: 'country' Column(열)의 값이  'World'인 첫번째 인덱스(index=0)을 삭제하세요.
    - 조건4: Index 또는 순서(order)는 변경하지 마세요.
<br></br>
- 완료 후 결과 dataframe 변수를 check_02_02 함수에 입력하여 채점하세요.

In [61]:
df_population= df_population.drop(columns=['Rank', 'UN Region','Date', 'Source (official or from the United Nations)', 'Notes'])

In [70]:
df_population = df_population.rename(columns={'Country / Dependency': 'country'})

In [71]:
df_population = df_population.rename(columns={'Population': 'population'})

In [72]:
df_population.columns

Index(['country', 'population'], dtype='object')

In [ ]:
df_population = df_population.drop(0)

In [78]:
# 2-2

check_02_02(df_population)

정답입니다! 5점 누적 되었습니다!
현재 누적 점수: 35 / 100

In [79]:
df_population

                                 country population
1                                  China      17.4%
2                                  India      17.3%
3                          United States       4.1%
4                              Indonesia       3.4%
5                               Pakistan       3.0%
..                                   ...        ...
236                                 Niue         0%
237                         Tokelau (NZ)         0%
238                         Vatican City         0%
239  Cocos (Keeling) Islands (Australia)         0%
240                Pitcairn Islands (UK)         0%

[240 rows x 2 columns]

### 문제 2-3) Population Data 전처리 02 (5점)
- 2-2의 DataFrame(df_population)과 아래의 df_population_change_dict를 이용하여 아래 조건에 맞게 국가명(컬럼명: 'country')을 변경하세요.
<br></br>
    - 참고: 국가명을 변경하는 이유는 추후 문제에서 1단계에서 만들었던 df_target과 합치기 위함입니다.
        - 변경 국가는 1단계의 df_target에 있는 국가만 해당됩니다.
        - 일부 국가명의 표현이 다르기 때문에 df_target을 기준으로 표기를 통일합니다.
<br></br>
    - 아래 df_population_change_dict는 변경 대상인 df_population의 기존 국가명과 변경할 국가명이 key-value로 이루어져 있습니다.
<br></br>
        - 조건1: df_population_change_dict를 이용하여 df_population의 국가명을 변경하세요.
        - 조건2: Index 또는 순서(order)는 변경하지 마세요.
<br></br>
- 완료 후 결과 dataframe 변수를 check_02_03 함수에 입력하여 채점하세요.

In [81]:
df_population_change_dict = {
    'Bermuda (United Kingdom)': 'Bermuda',
    'Cape Verde': 'Cabo Verde',
    'DR Congo': 'Congo, The Democratic Republic of the',
    'Ivory Coast': "Côte d'Ivoire",
    'Greenland (Denmark)': 'Greenland',
    'Hong Kong (China)': 'Hong Kong',
    'South Korea': 'Korea, Republic of',
    'Laos': "Lao People's Democratic Republic",
    'Macau (China)': 'Macao',
    'North Macedonia': 'Republic of North Macedonia',
    'Micronesia': 'Federated States of Micronesia',
    'Puerto Rico (United States)': 'Puerto Rico',
    'Slovakia': 'Slovak Republic',
    'East Timor': 'Timor-Leste',
}

In [82]:
for key, val in df_population_change_dict.items():
    df_population.loc[df_population['country'] == key, 'country'] = val

In [83]:
# 2-3

check_02_03(df_population)

정답입니다! 5점 누적 되었습니다!
현재 누적 점수: 40 / 100

In [84]:
df_population

                                 country population
1                                  China      17.4%
2                                  India      17.3%
3                          United States       4.1%
4                              Indonesia       3.4%
5                               Pakistan       3.0%
..                                   ...        ...
236                                 Niue         0%
237                         Tokelau (NZ)         0%
238                         Vatican City         0%
239  Cocos (Keeling) Islands (Australia)         0%
240                Pitcairn Islands (UK)         0%

[240 rows x 2 columns]

### 문제 2-4) Data 합치기(10점)
- 1단계의 DataFrame(df_target)과 2-3의 DataFrame(df_population)을 아래의 조건에 맞게 합치세요.
<br></br>
    - df_target에 df_population의 Data를 추가하려 합니다.
<br></br>
        - 조건1: df_target, df_population의 국가명('country' Column(열)의 value)이 같은 Data끼리 합쳐주세요.
<br></br>
        - 조건2: 결합 방식은 교집합(겹치는 국가명이 있는 경우만 추출)으로 지정해 주세요.
<br></br>
        - 조건3: Column(열)방향으로 DataFrame을 합쳐주세요.
<br></br>
        - 조건4: 'code' Column(열)을 기준으로 오름차순으로 정렬해주세요.
<br></br>
        - 조건5: index를 reset해주세요.
<br></br>
        - 조건6: 결과 DataFrame의 Column은 6개('country', 'incomeperperson', 'internetuserate', 'urbanrate', 'code', 'population')이어야 합니다.
<br></br>
        - 조건7: 결과 DataFrame의 변수는 'df' 로 지정해 주세요.
<br></br>
<br></br>
        - hint1: 조건1 -> key='country' 또는 on='country'
<br></br>
        - hint2: 조건2 -> join='inner' 또는 how='inner'(DataFrame 순서에 따라 'left', 'right'도 가능)
<br></br>
<br></br>
- 완료 후 결과 dataframe 변수를 check_02_04 함수에 입력하여 채점하세요.

In [168]:
df = pd.merge(df_target, df_population, on='country', how='inner')
df.sort_values(by='code', ascending=True, inplace=True)
df = df.reset_index(drop=True)

In [170]:
# 2-4

check_02_04(df)

오답입니다. 다시 한번 확인해주세요.
현재 누적 점수: 50 / 100

In [171]:
df

,country,incomeperperson,internetuserate,urbanrate,code,population
0,Andorra,21943.339900,81.000000,88.92,AD,0.001%
1,United Arab Emirates,21087.394120,77.996781,77.88,AE,0.1%
2,Antigua and Barbuda,11894.464070,80.645455,30.46,AG,0.001%
3,Albania,1914.996551,44.989947,46.72,AL,0.03%
4,Armenia,1326.741757,44.001025,63.86,AM,0.04%
...,...,...,...,...,...,...
173,Samoa,1784.071284,6.965038,23.00,WS,0.003%
174,Yemen,610.357367,12.349750,30.64,YE,0.4%
175,South Africa,3745.649852,12.334893,60.74,ZA,0.8%
176,Zambia,432.226337,10.124986,35.42,ZM,0.2%
177,Zimbabwe,320.771890,11.500415,37.34,ZW,0.2%

## 3단계: Reference Data02: 불러오기 & 전처리 & 합치기
***

In [159]:
df_region = pd.read_csv('./datas/continents2.csv')
df_region

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,NaN,9.0,61.0,NaN
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,NaN,2.0,15.0,NaN
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,NaN,142.0,145.0,NaN
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0

### 문제 3-1) Region Data 전처리 01 (10점)
- 위의 DataFrame(df_region)을 아래의 조건에 맞게 변경하세요.
<br></br>
    - 조건1
        - 특정 국가('Namibia')의 국가코드가 'NA'이기 때문에 위와 같이 DataFrame을 불러올경우 해당 국가코드가 NaN값으로 처리됩니다.
        - 해당 국가의 국가코드를 'NA'로 변경하세요.(해당 값의 type이 string이어야 합니다.)
        - 참고
            - 아래 조건3에 따른 Column(열)명을 변경하기 전에는 'alpha-2', 변경 후에는 'code' Column(열)에 국가코드가 있습니다.
            - 국가명 Column(열)명은 'name'입니다.
<br></br>
    - 조건2
        - 아래 df_region_drop_col은 Data 분석시 필요 없는 Column(열)입니다.
        - df_region_drop_col을 참고하여 df_region의 Column(열)들을 삭제(drop)하세요.
<br></br>
    - 조건3
        - 아래 df_region_rename_dict는 기존 컬럼명 - 변경할 컬럼명이 key-value로 이루어져 있습니다.
        - df_region_rename_dict를 참고하여 df_region의 Column(열)명을 변경하세요.
<br></br>
    - 조건4: Index 또는 순서(order)는 변경하지 마세요.
<br></br>
- 완료 후 결과 dataframe 변수를 check_03_02 함수에 입력하여 채점하세요.

In [160]:
df_region_drop_col = [
                    'country-code',
                    'alpha-3',
                    'iso_3166-2',
                    'region-code',
                    'sub-region-code',
                    'intermediate-region-code'
                    ]

df_region_rename_dict = {
                        'alpha-2': 'code',
                        'sub-region': 'sub_region',
                        'intermediate-region': 'intermediate_region',
                        }

In [161]:
df_region= df_region.drop(columns=df_region_drop_col)

In [162]:
for k, v in df_region_rename_dict.items():
    df_region = df_region.rename(columns={k: v})

In [163]:
df_region.loc[df_region['name']=='Namibia', 'code'] = "NA"
res = df_region.loc[df_region['name']=='Namibia']
res

        name code  region          sub_region intermediate_region
153  Namibia   NA  Africa  Sub-Saharan Africa     Southern Africa

In [164]:
# 3-1

check_03_01(df_region)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 50 / 100

In [165]:
df_region

                  name code   region          sub_region intermediate_region
0          Afghanistan   AF     Asia       Southern Asia                 NaN
1        Åland Islands   AX   Europe     Northern Europe                 NaN
2              Albania   AL   Europe     Southern Europe                 NaN
3              Algeria   DZ   Africa     Northern Africa                 NaN
4       American Samoa   AS  Oceania           Polynesia                 NaN
..                 ...  ...      ...                 ...                 ...
244  Wallis and Futuna   WF  Oceania           Polynesia                 NaN
245     Western Sahara   EH   Africa     Northern Africa                 NaN
246              Yemen   YE     Asia        Western Asia                 NaN
247             Zambia   ZM   Africa  Sub-Saharan Africa      Eastern Africa
248           Zimbabwe   ZW   Africa  Sub-Saharan Africa      Eastern Africa

[249 rows x 5 columns]

### 문제 3-2) Data 합치기(10점)
- 2단계의 DataFrame(df)과 3-1의 DataFrame(df_region)을 아래의 조건에 맞게 합치세요.
<br></br>
    - df에 df_region의 Data를 추가하려 합니다.
<br></br>
        - 조건1: df, df_region 국가코드('code' Column(열)의 value)가 같은 Data끼리 합쳐주세요.
<br></br>
        - 조건2: 결합 방식은 교집합(겹치는 국가코드가 있는 경우만 추출)으로 지정해 주세요.
<br></br>
        - 조건3: Column(열)방향으로 DataFrame을 합쳐주세요.
<br></br>
        - 조건4: 'code' Column(열)을 기준으로 오름차순으로 정렬해주세요.
<br></br>
        - 조건5
            - 아래 df_rename_dict는 기존 컬럼명 - 변경할 컬럼명이 key-value로 이루어져 있습니다.
            - df_rename_dict를 참고하여 df의 Column(열)명을 변경하세요.
<br></br>
        - 조건6
            - 아래 new_col_order는 변경하고자하는 Column(열)의 순서대로 Column(열)명을 값으로 가지고 있습니다.
            - new_col_order를 참고하여 df의 Column(열)의 순서를 변경하세요.
<br></br>
        - 조건7: 'name' Column(열)은 삭제(drop)해 주세요
<br></br>
        - 조건8: index를 reset해주세요.
<br></br>
        - 조건9: 결과 DataFrame의 Column은 6개('country', 'incomeperperson', 'internetuserate', 'urbanrate', 'code', 'population')이어야 합니다.
<br></br>
        - 조건10: 결과 DataFrame의 변수는 'df' 로 지정해 주세요.
<br></br>
<br></br>
        - hint1: 조건1 -> key='code' 또는 on='code'
<br></br>
        - hint2: 조건2 -> join='inner' 또는 how='inner'(DataFrame 순서에 따라 'left', 'right'도 가능)
<br></br>
<br></br>
- 완료 후 결과 dataframe 변수를 check_03_02 함수에 입력하여 채점하세요.

In [166]:
df_rename_dict = {
                'incomeperperson': 'income_per_person',
                'internetuserate': 'internet_use_rate',
                }

df_drop_col = ['name']

new_col_order = [
                'code',
                'country',
                'population',
                'income_per_person',
                'internet_use_rate',
                'urbanrate',
                'region',
                'sub_region',
                'intermediate_region'
                ]

In [172]:
df_merge = pd.merge(df, df_region, on='code', how='inner')

In [173]:
df_merge.sort_values(by='code', inplace=True)

In [174]:
df_merge = df_merge.rename(columns=df_rename_dict)

In [175]:
df_merge.columns

Index(['country', 'income_per_person', 'internet_use_rate', 'urbanrate',
       'code', 'population', 'name', 'region', 'sub_region',
       'intermediate_region'],
      dtype='object')

In [176]:
df_merge = df_merge[new_col_order]

In [177]:
df_merge.reset_index(drop=True, inplace=True)

In [178]:
# 3-2
# 참고: 'name' Column(열)은 new_col_order 순서로 맞출 때 사라짐.
new_df = df_merge.copy()

In [191]:
new_df = new_df.fillna({'intermediate_region': '-'})
df = new_df.copy()

In [240]:
check_03_02(df)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 60 / 100

In [239]:
df

,code,country,population,income_per_person,internet_use_rate,urbanrate,region,sub_region,intermediate_region
0,AD,Andorra,0.001%,21943.339900,81.000000,88.92,Europe,Southern Europe,-
1,AE,United Arab Emirates,0.1%,21087.394120,77.996781,77.88,Asia,Western Asia,-
2,AG,Antigua and Barbuda,0.001%,11894.464070,80.645455,30.46,Americas,Latin America and the Caribbean,Caribbean
3,AL,Albania,0.03%,1914.996551,44.989947,46.72,Europe,Southern Europe,-
4,AM,Armenia,0.04%,1326.741757,44.001025,63.86,Asia,Western Asia,-
...,...,...,...,...,...,...,...,...,...
173,WS,Samoa,0.003%,1784.071284,6.965038,23.00,Oceania,Polynesia,-
174,YE,Yemen,0.4%,610.357367,12.349750,30.64,Asia,Western Asia,-
175,ZA,South Africa,0.8%,3745.649852,12.334893,60.74,Africa,Sub-Saharan Africa,Southern Africa
176,ZM,Zambia,0.2%,432.226337,10.124986,35.42,Africa,Sub-Saharan Africa,Eastern Africa
177,ZW,Zimbabwe,0.2%,320.771890,11.500415,37.34,Africa,Sub-Saharan Africa,Eastern Africa

## 4단계: Data 분석하기(가중 평균 & 분산)
***

### 문제 4-1) 지역대륙별 가준 평균 구하기 (15점)
- 3단계 DataFrame(df)의 국가별 인터넷 사용률(internet_use_rate) 및 인당 소득(income_per_person)을 대륙(region) 또는 지역대륙(sub_region)별로 평균을 합산하여 보기 위해서는 단순 평균이 아닌 국가별 인구수(population)을 가중한 평균을 계산하여야 합니다.
<br></br>
- 3단계 DataFrame(df)을 이용하여 지역대륙(sub_region)별 조건에 맞게 가중평균을 구하세요.
<br></br>
- 참고
    - 가중 평균: 자료의 평균을 구할 때 자료 값의 중요도나 영향 정도에 해당하는 가중치를 반영하여 구한 평균값
<br></br>
    <img src="images/04-4-1-001.png" style="margin:auto" width=300/>
<br></br>
<br></br>
    - 조건1: 가중치(weights)는 population Column(열)을 이용하세요.
<br></br>
    - 조건2: 지역대륙(sub_region)의 인터넷 사용률(internet_use_rate) 및 인당 소득(income_per_person)을 아래 표와 같은 index, column 형태로 나타내주세요.
        - index = ['region', 'sub_region']
        - column = ['weighted_ave_internet', 'weighted_ave_income']
<br></br>
        <img src="images/04-4-1-002.png" style="margin:auto" width=400/>
<br></br>
    - 조건3: 결과 DataFrame의 변수는 'df_result' 로 지정해 주세요.
<br></br>
<br></br>
    - hint1: pandas.DataFrame.groupby
<br></br>
    - hint2: numpy.average
<br></br>
<br></br>
- 완료 후 결과 dataframe 변수를 check_04_01 함수에 입력하여 채점하세요.

In [244]:
df['population'] = df['population'].str.rstrip('%').astype(float) / 100

In [247]:
import numpy as np

def weight_avg_internet(df):
    return np.average(df['internet_use_rate'], weights=df['population'])

d1 = df.groupby(['region', 'sub_region']).apply(weight_avg_internet).to_frame()
d1.rename(columns={0 : 'weighted_ave_internet'}, inplace=True)
d1

/var/folders/h1/hp_50qr12jg40vj15b94d35w0000gn/T/ipykernel_8368/1183867473.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  d1 = df.groupby(['region', 'sub_region']).apply(weight_avg_internet).to_frame()

                                          weighted_ave_internet
region   sub_region
Africa   Northern Africa                              31.295628
         Sub-Saharan Africa                           12.175459
Americas Latin America and the Caribbean              34.170284
         Northern America                             75.016614
Asia     Central Asia                                 19.912534
         Eastern Asia                                 39.290021
         South-eastern Asia                           19.469698
         Southern Asia                                 8.622405
         Western Asia                                 28.382320
Europe   Eastern Europe                               47.888574
         Northern Europe                              84.111774
         Southern Europe                              56.975709
         Western Europe                               80.697577
Oceania  Australia and New Zealand                    77.240208
         Melanesia                                     2.872180
         Micronesia                                   14.485336
         Polynesia                                     8.225452

In [248]:
def weight_avg_income(df):
    return np.average(df['income_per_person'], weights=df['population'])

d2 = df.groupby(['region', 'sub_region']).apply(weight_avg_income).to_frame()
d2.rename(columns={0 : 'weighted_ave_income'}, inplace=True)
d2

/var/folders/h1/hp_50qr12jg40vj15b94d35w0000gn/T/ipykernel_8368/3764058917.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  d2 = df.groupby(['region', 'sub_region']).apply(weight_avg_income).to_frame()

                                          weighted_ave_income
region   sub_region
Africa   Northern Africa                          3181.363360
         Sub-Saharan Africa                        697.724790
Americas Latin America and the Caribbean          4978.714717
         Northern America                        36193.631114
Asia     Central Asia                             1244.706408
         Eastern Asia                             5830.098229
         South-eastern Asia                       1775.734614
         Southern Asia                             807.867630
         Western Asia                             5414.615270
Europe   Eastern Europe                           3443.572349
         Northern Europe                         27690.737288
         Southern Europe                         14836.617757
         Western Europe                          25238.788782
Oceania  Australia and New Zealand               23268.830522
         Melanesia                                 920.353257
         Micronesia                               1453.310479
         Polynesia                                1844.374129

In [259]:
df_result = d1.merge(d2, how='inner', on=['region','sub_region'])

In [260]:
# 4-1

check_04_01(df_result)

정답입니다! 15점 누적 되었습니다!
현재 누적 점수: 75 / 100

In [261]:
df_result

                                          weighted_ave_internet  \
region   sub_region
Africa   Northern Africa                              31.295628
         Sub-Saharan Africa                           12.175459
Americas Latin America and the Caribbean              34.170284
         Northern America                             75.016614
Asia     Central Asia                                 19.912534
         Eastern Asia                                 39.290021
         South-eastern Asia                           19.469698
         Southern Asia                                 8.622405
         Western Asia                                 28.382320
Europe   Eastern Europe                               47.888574
         Northern Europe                              84.111774
         Southern Europe                              56.975709
         Western Europe                               80.697577
Oceania  Australia and New Zealand                    77.240208
         Melanesia                                     2.872180
         Micronesia                                   14.485336
         Polynesia                                     8.225452

                                          weighted_ave_income
region   sub_region
Africa   Northern Africa                          3181.363360
         Sub-Saharan Africa                        697.724790
Americas Latin America and the Caribbean          4978.714717
         Northern America                        36193.631114
Asia     Central Asia                             1244.706408
         Eastern Asia                             5830.098229
         South-eastern Asia                       1775.734614
         Southern Asia                             807.867630
         Western Asia                             5414.615270
Europe   Eastern Europe                           3443.572349
         Northern Europe                         27690.737288
         Southern Europe                         14836.617757
         Western Europe                          25238.788782
Oceania  Australia and New Zealand               23268.830522
         Melanesia                                 920.353257
         Micronesia                               1453.310479
         Polynesia                                1844.374129

### 문제 4-2) 특정 조건의 가준 평균 구하기 (15점)
- 중국과 인도를 제외한 Eastern Asia, Southern Asia의 인터넷 사용률(internet_use_rate) 및 인당 소득(income_per_person)을 아래 조건에 맞게 구하세요.
<br></br>
- 참고: 4-1의 참고사항 참조
<br></br>
    - 조건1: 가중치(weights)는 population Column(열)을 이용하세요.
<br></br>
    - 조건2: 중국(국가코드(code): 'CN)과 인도(국가코드: 'IN')를 제외한 Asia(region) - Eastern Asia, Southern Asia  (sub_region)의 인터넷 사용률(internet_use_rate) 및 인당 소득(income_per_person)을 아래 표와 같은 index, column 형태로 나타내주세요.
        - index = ['region', 'sub_region']
        - column = ['weighted_ave_internet', 'weighted_ave_income']
<br></br>
        <img src="images/04-4-2-001.png" style="margin:auto" width=400/>
<br></br>
        <img src="images/04-4-2-002.png" style="margin:auto" width=400/>
<br></br>
    - 조건3: 결과 DataFrame의 변수는 'df_result' 로 지정해 주세요.
<br></br>
<br></br>
    - hint1: pandas.DataFrame.groupby
<br></br>
    - hint2: numpy.average
<br></br>
<br></br>
- 완료 후 결과 dataframe 변수를 check_04_02 함수에 입력하여 채점하세요.

In [267]:
d = df[(df['code'] != 'CN') & (df['code'] != 'IN')]
d_asia = d[d['region'] == 'Asia']
df_es_asia = d_asia[(d_asia['sub_region'] == 'Eastern Asia') | (d_asia['sub_region'] == 'Southern Asia')]

In [271]:
import numpy as np

def weight_avg_internet(df):
    return np.average(df['internet_use_rate'], weights=df['population'])

d1 = df_es_asia.groupby(['region', 'sub_region']).apply(weight_avg_internet).to_frame()
d1.rename(columns={0 : 'weighted_ave_internet'}, inplace=True)
d1

/var/folders/h1/hp_50qr12jg40vj15b94d35w0000gn/T/ipykernel_8368/284252760.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  d1 = df_es_asia.groupby(['region', 'sub_region']).apply(weight_avg_internet).to_frame()

                      weighted_ave_internet
region sub_region
Asia   Eastern Asia               77.481632
       Southern Asia              11.471242

In [272]:
def weight_avg_income(df):
    return np.average(df['income_per_person'], weights=df['population'])

d2 = df_es_asia.groupby(['region', 'sub_region']).apply(weight_avg_income).to_frame()
d2.rename(columns={0 : 'weighted_ave_income'}, inplace=True)
d2

/var/folders/h1/hp_50qr12jg40vj15b94d35w0000gn/T/ipykernel_8368/2939293414.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  d2 = df_es_asia.groupby(['region', 'sub_region']).apply(weight_avg_income).to_frame()

                      weighted_ave_income
region sub_region
Asia   Eastern Asia          32300.388081
       Southern Asia           861.593906

In [273]:
df_result = d1.merge(d2, how='inner', on=['region','sub_region'])

In [274]:
# 4-2

check_04_02(df_result)

정답입니다! 15점 누적 되었습니다!
현재 누적 점수: 90 / 100

In [ ]:
df_result

                      weighted_ave_internet  weighted_ave_income
region sub_region
Asia   Eastern Asia               77.468759         32128.380318
       Southern Asia              11.435907           878.344097

***

### 🎊 문제가 끝났습니다. 제출양식과 일정에 맞춰 제출해주시기를 바랍니다!

### 제출양식
- 이 파일은 EDA Level TEST 4회차 노트북입니다. 따라서 제출시 파일명은 아래와 같습니다.
- [DS]edalvtest_04_yourname.ipynb

***

# 문의사항 및 의견이 있는 경우 작성해주세요.

### 문제 2-4번 위키가 조금 변경된 것 같습니다.